body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  transition: background-color 0.5s ease;
  background-color: green;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  /* width: 100%; */
  padding: 0 30px;
}

#clock {
  display: flex;
  flex-direction: column;
}

#date {
  display: flex;
  flex-direction: row;
  font-size: 1.7em;
  justify-content: space-between;
}

#time {
  width: 160px;
  display: flex;
  font-size: 4em;
  align-items: center;
  justify-content: center;
}

#weather {
  font-size: 1.5em;
  width: 180px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#temp {
  font-size: 2em;
  padding-left: 16px;
}

#icon img {
  height: 64px;
  width: 64px;
}

.speed {
  text-align: center;
  color: white;
}

#speed {
  font-size: 4em;
  margin: 20px 0;
}

#status {
  font-style: italic;
}

.control {
  margin: 0 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}  

button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: #ffffff;
  border: 3px solid #000000;
  color: #000000;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#dbDots {
    height: 1.3em;
    text-align: center;
    font-weight: bold;
}

#dbDots.tic {
    color: #888;
}

#dbDots.tac {
    color: #ffffff;
}